
.lista-tareas {
	list-style: none;
	overflow: auto;
    padding: 0;
}

.lista-tareas__tarea {
	height: 60px;
	padding: 0 20px;
	align-items: center;
	color: #4B4B4B;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.lista-tareas__texto {
	text-align: left;
	width: 100%;
}

.lista-tareas__tarea:hover .lista-tareas__icono-accion {
	opacity: 0.5;
}

.lista-tareas__tarea:nth-child(even) {
	background: #F3F3F3;
}

.lista-tareas__contenedor-botones {
	display: flex;
}

.lista-tareas__icono {
	cursor: pointer;
	font-size: 16px;
}

.lista-tareas__icono-check {
	margin-right: 20px;
	font-size: 26px;
}

.lista-tareas__icono-accion {
	margin-left: 20px;
	opacity: 0;
	transition: .3s ease all;
}

.lista-tareas__mensaje {
	text-align: center;
	color: #b8b8b8;
	font-size: 20px;
	padding: 40px 20px;
}