:root {
	--verde: #80BE4E;
	--azul: #007AEA;
}

.contenedor {
	max-width: 900px;
	width: 100%;
	height: 100%;
	max-height: 90vh;
	overflow: auto;
	box-shadow: 0 2px 10px rgba(139,139,139,.25);
	border-radius: 3px;
	display: grid;
	grid-template-rows: auto auto 1fr;
	margin: auto;
	margin-top: 50px;
}